@{
    ViewBag.Title = "About";
}

<section id="acercade" style="padding:120px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contenedoracerca">
                    <img src="~/Content/img/home/acercade.jpg" width="450" height="565">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contenedoracerca">
                    <div class="recuadro recuadronegro">
                        <h4><b>SOBRE NOSOTROS</b></h4>
                        <p id="textorecuadro">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Molestiae aspernatur nemo magnam totam beatae optio, tenetur non, facilis, exercitationem deserunt voluptatibus! Ullam, adipisci. 
                            Magni autem itaque, molestias provident voluptates nihil.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
