@{
    ViewBag.Title = "Home Page";
}

<section id="imgin">
    <div class="container">
        <div class="content-center">
            <p id="pini" style="color:aliceblue;">
                <b>
                    TODO LO QUE NECESITAS
                </b>
                <br />
            <p style="color: #ffffff; font-size:25px;">
                “Planta y cría, y tendrás alegría.”
            </p>
            <br />
            <a id="aComprar" href="#"><b>COMPRAR AHORA</b></a>

        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container-fluid">
        <div class="content-center">
            <h1>
                Tipos de fertilizantes
            </h1>
            <p style="color: #696A6B; text-align:justify;">
                La forma en que los fertilizantes vienen, determina a menudo las condiciones de utilización y la eficacia del mismo. 
                Los fertilizantes se presentan en estado sólido o líquido.
            </p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="contenedorportafolio">
                    <div class="detallesportafolio">
                        <h2>
                            Jesse Baez
                        </h2>
                    </div>
                    <img alt="Tipo 1" class="img-fluid" src="img/jesse4.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contenedorportafolio">
                    <div class="detallesportafolio">
                        <h2 align="center">
                            Drake
                        </h2>
                    </div>
                    <img alt="Tipo 2" class="img-fluid" src="img/drake3.jpg">
                </div>
            </div>

            <div class="col-md-6">
                <div class="contenedorportafolio">
                    <div class="detallesportafolio">
                        <h2>
                            AQUIHAYAQUIHAY
                        </h2>
                    </div>
                    <img alt="Tipo 3" class="img-fluid" src="img/aquihayaquihay.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contenedorportafolio">
                    <div class="detallesportafolio">
                        <h2>
                            The Weeknd
                        </h2>
                    </div>
                    <img alt="Tipo 4" class="img-fluid" src="img/theweeknd2.jpg">
                </div>
            </div>

            <div class="col-md-6">
                <div class="contenedorportafolio">
                    <div class="detallesportafolio">
                        <h2>
                            Big Soto
                        </h2>
                    </div>
                    <img alt="Tipo 5" class="img-fluid" src="img/bigsoto.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contenedorportafolio">
                    <div class="detallesportafolio">
                        <h2>
                            Joji
                        </h2>
                    </div>
                    <img alt="Tipo 6" class="img-fluid" src="img/joji.jpg">
                </div>
            </div>
        </div>
        </div>
</section>

<div class="row">
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
